a{

	color: #ffffff;
	text-decoration: none;
}

a:hover{

	color: #d1d1d1;
}

body{

	background-color: #F3F3F3;
	font: 12px;
	font-family: sans-serif;
}

button{

	display: block;
	font-size: 1em;
	margin-bottom: 10px;
	padding: 0.5em 1em;
}
header{

	background-color:#E52934;
	height: 80px;
	padding-right: 64px;
	padding-left: 64px;
}

header input {
  border-radius: 5px;
  box-sizing: border-box;
  float: right;
  font-size: 1em;
  padding-left: 10px;
  height: 30px;
  width: 200px;
  margin-top: 25px;
}

nav{

	display: inline-block;
	vertical-align: top;
}

nav ul{

	margin: 0px;
	line-height: 80px;
}

nav ul li{

	display: inline;
	margin-right: 32px;
	font-weight: bold;
	line-height: 80px;
}

input[type="text"]{
	
	box-sizing: border-box;
	font-size: 15px;
	margin: 15px 0px;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #7ac9b7;

}

input[type="submit"]{

	background-color: #4180C5;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 15px;	
	margin: 15px 0px;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #7ac9b7;

}

input[type="submit"]:hover{

	background-color: #000000;
}

textarea{

	box-sizing: border-box;
	font-size: 15px;
	margin: 15px 0px;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #7ac9b7;

}

.formContacto{

	margin-left: 250px;
	width: 60%;
}

.formBuscar{

	float: right;
	margin-top: -80px;
}

.logo{

	width: 100px;
	margin-top: 21px;
}

.series{

	padding-left: 16px;
	padding-right: 16px;	
}

.serie{

	display: inline-block;
	width: 182px;
}

.serie-info{
	
	float: left;
	padding: 4%;
	width: 20%;
}

.vista-previa{

	overflow: hidden;
	margin-left: 3%;
}

.vista-previa img {

	float: left;
	padding: 2%;
	width: 60%	
}

@media screen and (max-width: 800px) {
  nav { display: none; }
  .serie {
    width: 22%;
    margin-right: 4%;
    margin-bottom: 20px;
  }
  .serie:nth-child(5) {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  header { padding: 0 1em; }
  .serie {
    width: 30%;
    margin-right: 5%;
  }
  .serie:nth-child(3n + 1) {
    margin-right: 0;
  }
  .serie:nth-child(5) {
    margin-right: 5%;
  }
}
